/* Adapted from Sonarr Form/FormLabel.css. GPL-3.0. */
.label {
  display: flex;
  justify-content: flex-end;
  margin-right: var(--formLabelRightMarginWidth);
  padding-top: 8px;
  min-height: 35px;
  text-align: end;
  font-weight: bold;
  color: var(--textColor);
}

.small { flex: 0 0 var(--formLabelSmallWidth); }
.large { flex: 0 0 var(--formLabelLargeWidth); }

@media only screen and (max-width: 1200px) {
  .label { justify-content: flex-start; }
}
