/* Adapted from Sonarr Form/FormGroup.css. GPL-3.0. */
.group {
  display: flex;
  margin-bottom: 20px;
}

.extraSmall { max-width: var(--formGroupExtraSmallWidth); }
.small      { max-width: var(--formGroupSmallWidth); }
.medium     { max-width: var(--formGroupMediumWidth); }
.large      { max-width: var(--formGroupLargeWidth); }

@media only screen and (max-width: 1200px) {
  .group { display: block; }
}
