.toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin: -20px -20px 20px;
  padding: 0 20px;
  height: var(--toolbarHeight);
  background-color: var(--toolbarBackgroundColor);
  color: var(--toolbarColor);
}

.left {
  display: flex;
  align-items: baseline;
  gap: 12px;
}

.title {
  font-size: 18px;
  font-weight: 500;
  color: var(--white);
}

.subtitle {
  font-size: var(--smallFontSize);
  color: var(--helpTextColor);
}

.right {
  display: flex;
  align-items: center;
  gap: 8px;
}

.right :global(button),
.right :global(a.btn) {
  height: 36px;
}
