/* Adapted from Sonarr frontend/src/Components/Page/Sidebar/PageSidebarItem.css. GPL-3.0. */
.item {
  list-style: none;
  border-left: 3px solid transparent;
  color: var(--sidebarColor);
  transition: border-left 0.3s ease-in-out;
}

.isActiveItem {
  border-left: 3px solid var(--themeAlternateBlue);
}

.isActiveParentItem {
  background-color: var(--sidebarActiveBackgroundColor);
}

.link {
  display: block;
  padding: 12px 24px;
  color: var(--sidebarColor);
  text-decoration: none;
}
.link:hover,
.link:focus {
  color: var(--themeBlue);
  text-decoration: none;
}

.childLink {
  padding: 10px 24px 10px 35px;
}

.isActiveLink {
  color: var(--themeAlternateBlue);
}

.iconContainer {
  display: inline-block;
  margin-right: 7px;
  width: 18px;
  text-align: center;
}
